body {
    background-color: #9d5f66;
}

body > * {
    margin: 40px 0;
}

textarea {
    resize: none;
}

#calendar {
    position: relative;
    top: 20px;
    
}

#calendar table {
    background-color: darkgoldenrod;
    border-collapse: collapse;
}

#calendar td, #calendar th {
    border: black 1px solid;
    text-align: center;
}



.jan, .juil {
    background-color: #a55eea;
}

.fev, .aou {
    background-color: #45aaf2;
}

.mar, .sep {
    background-color: #26de81;
}

.avr, .oct {
    background-color: #fed330;
}

.mai, .nov {
    background-color: #fd9644;
}

.juin, .dec {
    background-color: #fc5c65;
}

.today {
    color: yellow;
    background-color: violet;
}

/* #calendar {

    position: relative;
    top: 20px;
    width: fit-content;
    margin: auto;
    background-color: #90404460;
    -webkit-box-shadow: 10px 10px 10px #212121;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#333333, direction=120, strength=5);
    box-shadow: 10px 10px 10px #212121;
    border: 1px ridge #aaa;
    border-radius: 10px;
}

#calendar table {

    margin: auto;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    line-height: 20px;
    text-shadow: 10px 10px 10px #232711;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#333333, direction=120, strength=7);

}  */
